<!DOCTYPE html>
<html ng-app="intoeat-app">
    <head>
        <title>InToEat</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/bootstrap.css.map"/>
        <link rel="stylesheet" href="css/app.css"/>
        <link rel="stylesheet" href="css/multi-select.css"/>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse" ng-controller="nav-ctrl">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/">InToEat Admin</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li ng-repeat="item in items" ng-class="{active:isActive(item.path)}">
                                <a href="{{ item.path }}" ng-bind="item.name"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <ng-view></ng-view>
        </div>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/angular-route.js"></script>
        <script type="text/javascript" src="js/angular-resource.js"></script>
        <script type="text/javascript" src="js/ng-upload.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/nav.js"></script>
        <script type="text/javascript" src="js/places.js"></script>
        <script type="text/javascript" src="js/place.js"></script>
        <script type="text/javascript" src="js/tags.js"></script>
        <script type="text/javascript" src="js/tag.js"></script>
        <script type="text/javascript" src="js/groups.js"></script>
        <script type="text/javascript" src="js/group.js"></script>
    </body>
</html>
